.slick-prev {
  top: 25% !important;
  left: 1% !important;
  z-index: 1;
}

.slick-next {
  top: 25% !important;
  right: 1% !important;
  z-index: 1;
}

.slick-next::before {
  display: none;
}
.slick-prev::before {
  display: none;
}

.categories-slider .slick-slide > div {
  width: 50%;
  margin: auto;
}

.businesses-slider .slick-list {
  width: 102.2%;
}
