.slick-prev {
  top: 25% !important;
  left: 1% !important;
  z-index: 1;
}

.slick-next {
  top: 25% !important;
  right: 1% !important;
  z-index: 1;
}

.slick-next::before {
  display: none;
}
.slick-prev::before {
  display: none;
}

.categories-slider .slick-slide > div {
  width: 50%;
  margin: auto;
}

.businesses-slider .slick-slide {
  width: 102.2%;
}

.businesses-slider .slick-track {
  padding-top: 12px;
}

.card-slider .slick-list {
  border-radius: 12px 12px 0 0;
}

.card-slider .slick-track {
  padding: 0;
  margin: 0;
}
